.blue{
    background-color:blue !important; 
}
.whitepolicy,.white{
    color:white !important;
}
.topalign{
    margin-top: 15px !important;
}
.whitepolicy:hover{
    text-decoration: underline;
}
.img{
	width: 200px; 
	height: 200px;
}
.img>img{
	width: 100%; 
	height: 100%;
}