.blue{
    background-color:blue !important;
}
.whitepolicy,.white{
    color:white !important;
}
.topalign{
    margin-top: 15px !important;
}
.whitepolicy:hover{
    text-decoration: underline;
}
.img{
	width: 200px;
	height: 200px;
}
.img>img{
	width: 100%;
	height: 100%;
}
.articleBis{
    margin: auto;
}
.container{
    width: 105% !important;
}
.center{
    text-align :center;
}
.article{
    background-color: #E9E9E9;
}
.topalignBis{
    margin-top: 40px;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.title:hover{
    color: blue;
    text-decoration: underline;
}
.right{
    text-align: right;
    margin-left: 950px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}
